{% extends "base.html" %}

{% block content %}
<!--Main layout-->
<main class="app-main">
  <!-- .wrapper -->
  <div class="wrapper mt-5 pt-4">
    <!-- .page -->
    <div class="page">
      <!-- .page-navs -->
      <nav class="page-navs">
        <div class="container">
          <!-- .nav-scroller -->
          <div class="nav-scroller">
            <!-- .nav -->
            <div class="nav nav-center nav-tabs border-0">
              <a class="nav-link" href="/user/">Current orders</a>
              <a class="nav-link" href="/user/history/">Order history</a>
              <a class="nav-link" href="/user/messages/">Messages
                {% if unread_messages %}
                <span class="badge badge-pill info-color">{{ unread_messages.count }}</span>
                {% endif %}
              </a>
              <a class="nav-link active" href="/user/settings/account/">Settings</a>
            </div>
            <!-- /.nav -->
          </div>
          <!-- /.nav-scroller -->
        </div>
      </nav>
      <!-- /.page-navs -->
      <!-- .page-inner -->
      <div class="page-inner">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <div class="container">
              <li class="breadcrumb-item active">
                <a href="/">
                  <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>
                  {{ user.first_name }} {{ user.last_name }}
                </a>
              </li>
            </div>
          </ol>
        </nav>
        <!-- .container -->
        <div class="container">
          <!-- .page-section -->
          <div class="page-section">
            <!-- grid row -->
            <div class="row">
              <!-- grid column -->
              <div class="col-lg-4">
                <!-- .card -->
                <div class="card card-fluid">
                  <h6 class="card-header"> Your Details </h6>
                  <!-- .nav -->
                  <nav class="nav nav-tabs flex-column">
                    <a href="/user/settings/account/" class="nav-link active">Account</a>
                    <a href="/user/settings/billing/" class="nav-link">Billing</a>
                    <a href="/user/settings/notifications/" class="nav-link">Notifications</a>
                  </nav>
                  <!-- /.nav -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /grid column -->
              <!-- grid column -->
              <div class="col-lg-8">
                <!-- .card -->
                <div class="card card-fluid">
                  <h6 class="card-header"> Account </h6>
                  <!-- .card-body -->
                  <div class="card-body">
                    {% if messages %}
                    <ul class="messages text-danger">
                      {% for message in messages %}
                      {% if 'error' in message.tags %}
                      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                      {% endif %}
                      {% endfor %}
                    </ul>
                    {% endif %}
                    <!-- form -->
                    <form action="/user/settings/account/update/" method="POST">
                      {% csrf_token %}
                      <!-- form row -->
                      <div class="form-row">
                        <!-- form column -->
                        <div class="col-md-6 mb-3">
                          <label for="input01">First Name</label>
                          <input type="text" class="form-control" id="input01" value="{{ user.first_name }}" required=""
                            name="first_name">
                        </div>
                        <!-- /form column -->
                        <!-- form column -->
                        <div class="col-md-6 mb-3">
                          <label for="input02">Last Name</label>
                          <input type="text" class="form-control" id="input02" value="{{ user.last_name }}" required=""
                            name="last_name">
                        </div>
                        <!-- /form column -->
                      </div>
                      <!-- /form row -->
                      <!-- .form-group -->
                      <div class="form-group">
                        <label for="input05">Username</label>
                        <input type="text" class="form-control" id="input05" value="{{ user.username }}" required=""
                          name="username">
                        <small class="text-muted"></small>
                      </div>
                      <!-- /.form-group -->
                      <!-- .form-group -->
                      <div class="form-group">
                        <label for="input03">Email</label>
                        <input type="email" class="form-control" id="input03" value="{{ user.email }}" required=""
                          name="email">
                      </div>
                      <!-- /.form-group -->
                      <!-- .form-group -->
                      <div class="form-group">
                        <label for="input04">New Password</label>
                        <input type="password" class="form-control" id="input04" value="" required="" name="password">
                      </div>
                      <!-- /.form-group -->
                      <!-- .form-group -->
                      <div class="form-group">
                        <label for="input04">Confirm New Password</label>
                        <input type="password" class="form-control" id="input04" value="" required="" name="confirm_pw">
                      </div>
                      <!-- /.form-group -->
                      <hr>
                      <!-- .form-actions -->
                      <div class="form-actions">
                        <!-- enable submit btn when user type their current password -->
                        <input type="password" class="form-control ml-auto mr-3" id="input06"
                          placeholder="Enter Current Password" required="" name="current_password">
                        <button type="submit" class="btn btn-primary">Update Account</button>
                      </div>
                      <!-- /.form-actions -->
                    </form>
                    <!-- /form -->
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /grid column -->
            </div>
            <!-- /grid row -->
          </div>
          <!-- /.page-section -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.page-inner -->
    </div>
    <!-- /.page -->
  </div>
  <!-- /.wrapper -->
</main>
<!--Main layout-->
{% endblock %}